<div class="container">
	<p class="lead">Træningstider</p>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th><p>Dag</p></th>
				<th><p>Tidspunkt</p></th>
				<th><p>Sted</p></th>
				<th><p>Træner</p></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Mandag</td>
				<td>Kl. 20:00-22:00</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Søren Krappe</td>
			</tr>
			<tr>
				<td>Onsdag</td>
				<td>Kl. 19:00-21:00</td>
				<td>Skibby Hallen</td>
				<td>Lars Blink</td>
			</tr>
		</tbody>
	</table>
</div>