<div class="container">
	<p class="lead">Træningstider</p>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th><p>Dag</p></th>
				<th><p>Tidspunkt</p></th>
				<th><p>Hold</p></th>
				<th><p>Sted</p></th>
				<th><p>Træner</p></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Mandag</td>
				<td>15:30 - 17:15</td>
				<td>Hold 1</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Kristian</td>
			</tr>
			<tr>
				<td></td>
				<td>17:00 - 18:00</td>
				<td>Miniton</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Susanne</td>
			</tr>
			<tr>
				<td>Onsdag</td>
				<td>15:45 - 17:00</td>
				<td>Hold 2</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Kristian</td>
			</tr>
			<tr>
				<td></td>
				<td>15:15 - 16:45</td>
				<td>Hold 3</td>
				<td>Ejby</td>
				<td>Michael</td>
			</tr>
			<tr>
				<td>Fredag</td>
				<td>15:00 - 16:00</td>
				<td>Hold 3</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Susanne</td>
			</tr>
			<tr>
				<td></td>
				<td>16:00 - 17:30</td>
				<td>Hold 2</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Susanne</td>
			</tr>
			<tr>
				<td></td>
				<td>17:00 - 18:30</td>
				<td>Hold 1</td>
				<td>Kirke Hyllinge Hallen</td>
				<td>Mark</td>
			</tr>
		</tbody>
	</table>
	<p>Du får besked i uge 32 om, hvilket hold dit barn skal gå på.
 
Princip for holdinddeling:
Hold 1 er de børn der har spillet længst og som er øvet
Hold 2 er de børn der har spillet lidt, og kan grundprincipperne
Hold 3 er nye børn og primært 1.-3. klasse
MINIton er børn 4-7 å og en forælder/bedsteforældre
Er du itvivl om hvilket hold du skal starte på, så kontakt 
Susanne Karlsen på usuformand@khif-badminton.dk eller på tlf. 20 72 44 74.</p>
</div>